---
import Button from "~/core/components/ui/button";
import WireNode from "~/core/components/ui/wire/wire-node.astro";
import RocketIcon from "~/assets/rocket.svg";
import CodeIcon from "~/assets/code.svg";
import { getLocale, getTranslations } from "~/i18n";
import type { Project } from "~/data/projects";
import type { ProjectTranslation } from "~/i18n/types";

type Props = Omit<Project, "key"> & ProjectTranslation;

const { title, tags, description, sourceUrl, websiteUrl } = Astro.props;
const lang = getLocale(Astro.currentLocale);
const t = getTranslations(lang);
---

<article class="grid grid-cols-[3fr_2fr] gap-16">
  <div class="flex flex-col gap-6">
    <header class="flex flex-col gap-2">
      <h4 class="text-2xl text-balance">{title}</h4>
      <div class="flex items-center gap-2">
        {
          tags.map((tag) => (
            <span class="text-sm font-medium px-2.5 py-0.5 rounded-full bg-muted/50 outline outline-border">
              {tag}
            </span>
          ))
        }
      </div>
    </header>
    <div class="max-w-prose">
      <p class="text-muted-foreground">
        {description}
      </p>

    </div>
    <footer class="flex items-center gap-3 relative">
      <WireNode class="-left-2" />
      <WireNode class="left-6" />
      <WireNode class="-left-2" />
      <Button
        as="a"
        size="sm"
        target="_blank"
        href={sourceUrl}
        variant="secondary"
        rel="noopener noreferrer"
      >
        {t.projects.actions.source}
        <CodeIcon />
      </Button>

      <Button
        as="a"
        size="sm"
        target="_blank"
        href={websiteUrl}
        rel="noopener noreferrer"
      >
        {t.projects.actions.website}
        <RocketIcon />
      </Button>
    </footer>
  </div>
  <slot />
</article>
