---
import type { Repository } from "~/data/repositories";
import { getLocale, getTranslations } from "~/i18n";
import type { RepositoryTranslation } from "~/i18n/types";
import Button from "../../ui/button";
import CodeIcon from "~/assets/code.svg";
import RocketIcon from "~/assets/rocket.svg";
import BookmarkIcon from "~/assets/bookmark.svg";
type Props = Repository & RepositoryTranslation;

const { title, tags, description, sourceUrl, websiteUrl } = Astro.props;

const lang = getLocale(Astro.currentLocale);
const t = getTranslations(lang);
---

<article
  class="glow-card flex flex-col gap-4 bg-card rounded-lg border border-transparent bg-clip-padding p-4"
>
  <header class="flex items-center gap-2">
    <BookmarkIcon class="size-4 text-muted-foreground" />
    <h3 class="text-base/none font-medium">{title}</h3>
  </header>
  <section class="flex flex-col gap-2">
    <p class="max-w-prose text-sm text-muted-foreground">{description}</p>
    <ul class="text-xs font-medium flex items-center gap-4">
      {
        tags.map((tag) => (
          <li
            data-tag={tag.toLowerCase()}
            class="flex items-center gap-1 before:size-1.5 before:rounded-full before:bg-muted text-muted-foreground"
          >
            {tag}
          </li>
        ))
      }
    </ul>
  </section>
  <footer class="flex items-center justify-end-safe mt-1 gap-3">
    {
      sourceUrl ? (
        <Button
          as="a"
          size="xs"
          target="_blank"
          href={sourceUrl}
          variant="ghost"
          rel="noopener noreferrer"
        >
          {t.repositories.actions.source}
          <CodeIcon />
        </Button>
      ) : null
    }
    {
      websiteUrl ? (
        <Button
          as="a"
          size="xs"
          target="_blank"
          href={websiteUrl}
          variant="secondary"
          rel="noopener noreferrer"
        >
          {t.repositories.actions.website}
          <RocketIcon />
        </Button>
      ) : null
    }
  </footer>
</article>
